<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Enter Title" [(ngModel)]="note.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea rows="6" [(ngModel)]="note.content" placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="primary" expand="full" (click)="updateNote()">Update</ion-button>
</ion-content>
